* {
  box-sizing: border-box;
  font-family: inherit;
}

::selection {
  background: #f0f;
  color: #000;
}

/* tiny reset */
h1, h2, h3, h4, h5,
pre, div, section,
ul, ol {
  margin-bottom: 0;
}

h2 {
  margin-top: 2rem;
}

h3 {
  margin-top: 1rem;
}

li > ul {
  margin-top: .5rem;
}

* > * + * {
  margin-top: .5rem;
}

.container + .container {
  margin-top: 1rem;
}

body {
  font-family: 'monospace', monospace, sans-serif;
  font-size: 100%;
  margin: 1rem 0 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid transparent;
  padding: 1rem .5rem;
  transition: border .5s;
}

@media (min-width: 550px) {
  .container {
    border-color: #eee;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

#header {
  text-align: center;
}

#header > h1 {
  margin: 0;
  font-size: 80%;
}

#banner {
  height: 11rem;
  background: #f7f url(stigok.png) center center no-repeat;
  background-size: cover;
}

.img-responsive {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

/*h1, h2, h3, h4, h5 {
  font-size: inherit;
}*/

#footer {
  padding: .5rem;
  background-color: rgba(255, 0, 255, .125);
  color: #fff;
  text-align: center;
}

ul {
  margin-left: 1rem;
  padding: 0;
}

li {
  margin-left: 0;
}

/* bootstrap 4 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

/*
 * Animations
*/
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
